<?xml version="1.0"?>
<config>
    <modules>
        <MatheusGontijo_EasyShippingRules>
            <version>1.0.0</version>
        </MatheusGontijo_EasyShippingRules>
    </modules>
    <global>
        <blocks>
            <easyshippingrules>
                <class>MatheusGontijo_EasyShippingRules_Block</class>
            </easyshippingrules>
            <adminhtml>
                <rewrite>
                    <sales_order_create_shipping_method_form>MatheusGontijo_EasyShippingRules_Block_Adminhtml_Sales_Order_Create_Shipping_Method_Form</sales_order_create_shipping_method_form>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <cart_shipping>MatheusGontijo_EasyShippingRules_Block_Checkout_Cart_Shipping</cart_shipping>
                    <multishipping_shipping>MatheusGontijo_EasyShippingRules_Block_Checkout_Multishipping_Shipping</multishipping_shipping>
                    <onepage_shipping_method_available>MatheusGontijo_EasyShippingRules_Block_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
                </rewrite>
            </checkout>
            <paypal>
                <rewrite>
                    <express_review>MatheusGontijo_EasyShippingRules_Block_Paypal_Express_Review</express_review>
                </rewrite>
            </paypal>
        </blocks>
        <helpers>
            <easyshippingrules>
                <class>MatheusGontijo_EasyShippingRules_Helper</class>
            </easyshippingrules>
        </helpers>
        <models>
            <easyshippingrules>
                <class>MatheusGontijo_EasyShippingRules_Model</class>
                <resourceModel>easyshippingrules_resource</resourceModel>
            </easyshippingrules>
            <easyshippingrules_resource>
                <class>MatheusGontijo_EasyShippingRules_Model_Resource</class>
                <deprecatedNode>easyshippingrules_mysql4</deprecatedNode>
                <entities>
                    <carrier>
                        <table>easyshippingrules_carrier</table>
                    </carrier>
                    <custom_method>
                        <table>easyshippingrules_custom_method</table>
                    </custom_method>
                    <custom_method_store>
                        <table>easyshippingrules_custom_method_store</table>
                    </custom_method_store>
                    <custom_method_carrier>
                        <table>easyshippingrules_custom_method_carrier</table>
                    </custom_method_carrier>
                    <custom_method_rule>
                        <table>easyshippingrules_custom_method_rule</table>
                    </custom_method_rule>
                    <existing_method>
                        <table>easyshippingrules_existing_method</table>
                    </existing_method>
                    <existing_method_store>
                        <table>easyshippingrules_existing_method_store</table>
                    </existing_method_store>
                    <existing_method_rule>
                        <table>easyshippingrules_existing_method_rule</table>
                    </existing_method_rule>
                    <rule>
                        <table>easyshippingrules_rule</table>
                    </rule>
                </entities>
            </easyshippingrules_resource>
            <sales>
                <rewrite>
                    <quote_address>MatheusGontijo_EasyShippingRules_Model_Shipping_Quote_Address</quote_address>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <quote_address_rate_collection>MatheusGontijo_EasyShippingRules_Model_Resource_Sales_Quote_Address_Rate_Collection</quote_address_rate_collection>
                </rewrite>
            </sales_resource>
            <shipping>
                <rewrite>
                    <rate_result>MatheusGontijo_EasyShippingRules_Model_Shipping_Rate_Result</rate_result>
                </rewrite>
            </shipping>
        </models>
        <resources>
            <easyshippingrules_setup>
                <setup>
                    <module>MatheusGontijo_EasyShippingRules</module>
                </setup>
            </easyshippingrules_setup>
        </resources>
    </global>
    <admin>
        <routers>
             <adminhtml>
                 <args>
                     <modules>
                         <easyshippingrules before="Mage_Adminhtml">MatheusGontijo_EasyShippingRules_Adminhtml</easyshippingrules>
                     </modules>
                 </args>
             </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <MatheusGontijo_EasyShippingRules>
                    <files>
                        <default>MatheusGontijo_EasyShippingRules.csv</default>
                    </files>
                </MatheusGontijo_EasyShippingRules>
            </modules>
        </translate>
        <layout>
            <updates>
                <easyshippingrules>
                    <file>easyshippingrules.xml</file>
                </easyshippingrules>
            </updates>
        </layout>
    </adminhtml>
</config>
